In [1]:
# Dependencies
import pandas as pd
import requests
import json
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt

In [2]:
tmdb_df = pd.read_csv("../moviedata/tmdb_filtered_by_date.csv")
tmdb_df.head()

,id,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,status,tagline,vote_average,vote_count,credits,keywords,poster_path,backdrop_path,recommendations
0,76600,Avatar: The Way of Water,Science Fiction-Adventure-Action,en,Set more than a decade after the events of the...,9366.788,20th Century Studios-Lightstorm Entertainment,2022-12-14,350000000,2312335665,192.0,Released,Return to Pandora.,7.751,6748,Sam Worthington-Zoe Salda?ña-Sigourney Weaver-...,loss of loved one-dying and death-alien life-f...,/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg,/s16H6tpK2utvwDtzZ8Qy4qm5Emw.jpg,183392-111332-702432-505642-1064215-436270-874...
1,505642,Black Panther: Wakanda Forever,Action-Adventure-Science Fiction,en,Queen Ramonda Shuri Mƒ??Baku Okoye and the Dor...,2525.408,Marvel Studios,2022-11-09,250000000,858535561,162.0,Released,Forever.,7.338,3922,Letitia Wright-Lupita Nyong'o-Danai Gurira-Win...,loss of loved one-hero-sequel-superhero-based ...,/sv1xJUazXeYqALzczSZ3O6nkH75.jpg,/xDMIl84Qo5Tsu62c9DGWhmPI67A.jpg,436270-829280-76600-56969-312634-1037858-238-5...
2,956101,The Eighth Clause,Thriller,la,Kat and Borja appear to be a perfect couple bu...,2259.303,SDB Films-El Hombre Orquesta,2022-04-29,0,0,0.0,Released,NaN,4.600,10,Maite Perroni-Manuel Vega-??scar Jaenada-Jessi...,NaN,/8tc8eMFAX2SDC1TRu987qFQy8Cl.jpg,/kLnqNE9Af5QHyvUxw8cDGhF1ilv.jpg,NaN
3,315162,Puss in Boots: The Last Wish,Animation-Adventure-Comedy-Family,en,Puss in Boots discovers that his passion for a...,2078.280,DreamWorks Animation-Universal Pictures,2022-12-07,90000000,463087568,103.0,Released,Say hola to his little friends.,8.363,4671,Antonio Banderas-Salma Hayek-Harvey Guill??n-W...,fairy tale-talking dog-spin off-aftercreditsst...,/kuf6dutpsT0vSVehic3EZIqkOBt.jpg,/jr8tSoJGj33XLgFBy6lmZhpGQNu.jpg,1033456-1011679-505642-1058949-100088-536554-1...
4,965839,Lord of the Streets,Action,en,When Jason Dyson refuses to make his prized fi...,1691.825,Mutiny Films,2022-04-22,1000000,0,85.0,Released,NaN,4.900,29,Treach-Quinton Jackson-Khalil Rountree Jr.-And...,NaN,/n9YWVQRc0zw0nwrFcOkOpffZxjc.jpg,/g8Yytnby0hIPft5l56mgJtZyR1k.jpg,982467

In [3]:
tmdb_budget_df = tmdb_df[["title","budget"]]
tmdb_budget_df.head()

                            title     budget
0        Avatar: The Way of Water  350000000
1  Black Panther: Wakanda Forever  250000000
2               The Eighth Clause          0
3    Puss in Boots: The Last Wish   90000000
4             Lord of the Streets    1000000

In [4]:
tmdb_budget_max = tmdb_budget_df.groupby("title")["budget"].max()

In [5]:
tmdb_budget_max

title
"..."                                             0
"1-O"                                             0
"16" and 10 years. Far away.                      0
"A Girl Who Asked Why"                            0
"An Extra Wander: For Chick..."                   0
                                                 ..
‰¦?‰??? ‰????                                  0
‰¦?‰?ÿ ˆñ? ˆñ?????                              0
‰ª¬? ‰???                                     0
‰«?‰­?‰­? ˆú??¡? ‰??‰ª¬?ª ‰??‰¦?¡??           0
‰ñ?‰ñ? (BamBam) 'riBBon' HIGHLIGHT MEDLEY FILM    0
Name: budget, Length: 118788, dtype: int64

In [6]:
tmdb_budget_min = tmdb_budget_df.groupby("title")["budget"].min()
tmdb_budget_min

title
"..."                                             0
"1-O"                                             0
"16" and 10 years. Far away.                      0
"A Girl Who Asked Why"                            0
"An Extra Wander: For Chick..."                   0
                                                 ..
‰¦?‰??? ‰????                                  0
‰¦?‰?ÿ ˆñ? ˆñ?????                              0
‰ª¬? ‰???                                     0
‰«?‰­?‰­? ˆú??¡? ‰??‰ª¬?ª ‰??‰¦?¡??           0
‰ñ?‰ñ? (BamBam) 'riBBon' HIGHLIGHT MEDLEY FILM    0
Name: budget, Length: 118788, dtype: int64

In [8]:
tmdb_budget_max.index

Index(['"..."', '"1-O"', '"16" and 10 years. Far away.',
       '"A Girl Who Asked Why"', '"An Extra Wander: For Chick..."',
       '"An Ordinary Day"', '"And So, It Goes"', '"B??i Vi ¯?n"', '"BLESSED"',
       '"Bark"',
       ...
       '‰??‰??? ˆ???', '‰??‰¦?ˆ?????2: ý???‰ª??ª',
       '‰??‰ª? ‰ø¡??‰?? ?ª??‰??‰??‰??', '‰?ª‰?? ?? ????',
       '‰¦?¡??¡?? ??‰?? ‰??Ÿ', '‰¦?‰??? ‰????',
       '‰¦?‰?ÿ ˆñ? ˆñ?????', '‰ª¬? ‰???',
       '‰«?‰­?‰­? ˆú??¡? ‰??‰ª¬?ª ‰??‰¦?¡??',
       '‰ñ?‰ñ? (BamBam) 'riBBon' HIGHLIGHT MEDLEY FILM'],
      dtype='object', name='title', length=118788)

In [11]:
tmdb_budget_df_2 = pd.DataFrame({"budget_max":tmdb_budget_max,
                                 "budget_min":tmdb_budget_min})
tmdb_budget_df_3 = tmdb_budget_df_2.reset_index()
tmdb_budget_df_3

                                                 title  budget_max  budget_min
0                                                "..."           0           0
1                                                "1-O"           0           0
2                         "16" and 10 years. Far away.           0           0
3                               "A Girl Who Asked Why"           0           0
4                      "An Extra Wander: For Chick..."           0           0
...                                                ...         ...         ...
118783                                ‰¦?‰??? ‰????           0           0
118784                            ‰¦?‰?ÿ ˆñ? ˆñ?????           0           0
118785                                   ‰ª¬? ‰???           0           0
118786         ‰«?‰­?‰­? ˆú??¡? ‰??‰ª¬?ª ‰??‰¦?¡??           0           0
118787  ‰ñ?‰ñ? (BamBam) 'riBBon' HIGHLIGHT MEDLEY FILM           0           0

[118788 rows x 3 columns]

In [7]:
clean_df = pd.read_csv("resources/all_movies.csv")
clean_df

,Title,Year,Released,Runtime,Genre,Awards,Metascore,imdbRating,imdbVotes,imdbID,BoxOffice,Language
0,Insidious: The Last Key,2018,05 Jan 2018,103 min,"Horror, Mystery, Thriller",6 nominations,49.0,5.7,"62,852",tt5726086,"$67,745,330",English
1,The Strange Ones,2017,05 Jan 2018,81 min,"Drama, Thriller",5 wins & 11 nominations,57.0,5.1,"2,741",tt6014904,NaN,English
2,Stratton,2017,05 Jan 2018,95 min,"Action, Thriller",NaN,26.0,4.8,"5,398",tt3567666,NaN,English
3,Sweet Country,2017,06 Apr 2018,113 min,"Adventure, Crime, Drama",22 wins & 29 nominations,88.0,6.9,"8,825",tt6958212,"$104,297","English, Aboriginal"
4,The Commuter,2018,12 Jan 2018,104 min,"Action, Mystery, Thriller",2 nominations,56.0,6.3,"118,862",tt1590193,"$36,343,858","English, Spanish"
...,...,...,...,...,...,...,...,...,...,...,...,...
972,Free Guy,2021,13 Aug 2021,115 min,"Action, Adventure, Comedy",Nominated for 1 Oscar. 5 wins & 29 nominations...,62.0,7.1,"382,310",tt6264654,"$121,626,598","English, Japanese, German"
973,Respect,2021,13 Aug 2021,145 min,"Biography, Drama, Music",3 wins & 40 nominations,61.0,6.6,"16,012",tt2452150,"$24,278,399",English
974,Beckett,2021,13 Aug 2021,110 min,"Action, Crime, Drama",1 nomination,52.0,5.7,"27,020",tt10230994,NaN,"English, Greek"
975,Don't Breathe 2,2021,13 Aug 2021,98 min,"Action, Crime, Horror",1 nomination,46.0,6.0,"61,405",tt6246322,"$32,712,950",English
976,CODA,2021,13 Aug 2021,111 min,"Comedy, Drama, Music",Won 3 Oscars. 65 wins & 140 nominations total,72.0,8.0,"143,193",tt10366460,NaN,"American Sign , English"

In [14]:
tmdb_budget_df_4 = tmdb_budget_df_3.rename(columns={"title": "Title"})
tmdb_budget_df_4.head()

                             Title  budget_max  budget_min
0                            "..."           0           0
1                            "1-O"           0           0
2     "16" and 10 years. Far away.           0           0
3           "A Girl Who Asked Why"           0           0
4  "An Extra Wander: For Chick..."           0           0

In [16]:
merged_df = pd.merge(clean_df,tmdb_budget_df_4,how="left",on="Title")

In [17]:
merged_df.head()

,Title,Year,Released,Runtime,Genre,Awards,Metascore,imdbRating,imdbVotes,imdbID,BoxOffice,Language,budget_max,budget_min
0,Insidious: The Last Key,2018,05 Jan 2018,103 min,"Horror, Mystery, Thriller",6 nominations,49.0,5.7,"62,852",tt5726086,"$67,745,330",English,10000000.0,10000000.0
1,The Strange Ones,2017,05 Jan 2018,81 min,"Drama, Thriller",5 wins & 11 nominations,57.0,5.1,"2,741",tt6014904,NaN,English,0.0,0.0
2,Stratton,2017,05 Jan 2018,95 min,"Action, Thriller",NaN,26.0,4.8,"5,398",tt3567666,NaN,English,NaN,NaN
3,Sweet Country,2017,06 Apr 2018,113 min,"Adventure, Crime, Drama",22 wins & 29 nominations,88.0,6.9,"8,825",tt6958212,"$104,297","English, Aboriginal",0.0,0.0
4,The Commuter,2018,12 Jan 2018,104 min,"Action, Mystery, Thriller",2 nominations,56.0,6.3,"118,862",tt1590193,"$36,343,858","English, Spanish",30000000.0,30000000.0

In [18]:
merged_df.loc[merged_df["Title"]=="Proud Mary"]

,Title,Year,Released,Runtime,Genre,Awards,Metascore,imdbRating,imdbVotes,imdbID,BoxOffice,Language,budget_max,budget_min
5,Proud Mary,2018,12 Jan 2018,89 min,"Action, Crime, Drama",1 win & 4 nominations,35.0,5.0,"10,240",tt6421110,"$20,877,013","English, Russian",14000000.0,0.0

In [19]:
merged_df["Title"].nunique()

974

In [20]:
merged_df = merged_df.to_csv("output_data/merged.csv",index=False)

In [21]:
main_df = pd.read_csv("output_data/merged.csv")
main_df.head()

,Title,Year,Released,Runtime,Genre,Awards,Metascore,imdbRating,imdbVotes,imdbID,BoxOffice,Language,budget_max,budget_min
0,Insidious: The Last Key,2018,05 Jan 2018,103 min,"Horror, Mystery, Thriller",6 nominations,49.0,5.7,"62,852",tt5726086,"$67,745,330",English,10000000.0,10000000.0
1,The Strange Ones,2017,05 Jan 2018,81 min,"Drama, Thriller",5 wins & 11 nominations,57.0,5.1,"2,741",tt6014904,NaN,English,0.0,0.0
2,Stratton,2017,05 Jan 2018,95 min,"Action, Thriller",NaN,26.0,4.8,"5,398",tt3567666,NaN,English,NaN,NaN
3,Sweet Country,2017,06 Apr 2018,113 min,"Adventure, Crime, Drama",22 wins & 29 nominations,88.0,6.9,"8,825",tt6958212,"$104,297","English, Aboriginal",0.0,0.0
4,The Commuter,2018,12 Jan 2018,104 min,"Action, Mystery, Thriller",2 nominations,56.0,6.3,"118,862",tt1590193,"$36,343,858","English, Spanish",30000000.0,30000000.0

In [ ]:
#tmdb_date_csv = tmdb_date_df.to_csv("tmdb_filtered_by_date.csv",index=False)